<link rel="stylesheet" href="/css/users_forgot_password.css" />
<form method="post" action="/users/reset_password">
  <input type="email" name="email" required />
  <input type="submit" value="Reset password" />
</form>
