<form action="/users/reset_password/<%= accessToken%>" method="POST">
  <input type="password" placeholder="Enter your password" name="password" />
  <input type="password" placeholder="Retype your password" name="rpassword" />
  <input type="submit" value="Submit form" />
</form>
