<link rel="stylesheet" type="" href="/css/users_profile.css">
<section>
<div>
    <h1>Codeial/<%= title%></h1>
    <h2>Name:<%= user.name%></h2>
    <h2>Email:<%= user.email%></h2>
</div>
<div>
    <a href="/users/sign-out">Sign Out</a>
</div>
</section>

        